<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CREAR ALERTA</title>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <style th:replace="fragment/header :: headerStyle"></style>
    <style th:replace="fragment/footer :: footerStyle"></style>
    <style th:replace="fragment/create :: createStyle"></style>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div class="main">
    <form class="needs-validation" novalidate method="post" th:object="${createWarning}">
        <h1>CREAR ALERTA</h1>

        <table class ="ct-table">
            <tr>
                <td>
                     <h4 class="ct-h4" align="center">NOM</h4>
                    <input align="center" type="text" maxlength="64" minlength="1" placeholder="Introdueix el nom..." required th:field="*{name}"/>
                </td>
                <td>
                     <h4 class="ct-h4" align="center">URI</h4>
                    <input align="center" type="text" maxlength="256" minlength="1" placeholder="Introdueix la URI..." required th:field="*{uri}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="inner">
                        <tr>
                            <td>
                                 <h4 class="ct-h4" align="center">NOM CURT</h4>
                                <input type="text" maxlength="32" minlength="1" placeholder="Introdueix el nom curt..." required th:field="*{shortName}"/>
                            </td>
                            <td>
                                 <h4 class="ct-h4" align="center">ROL</h4>
                                <select class="form-control" required th:field="*{tempRoleName}">
                                    <option value="">Selecciona el rol</option>
                                    <option th:each="role : ${roles}"
                                            th:value="${role.healthcareInstitution.country.id}+' - '+${role.healthcareInstitution.id}+' - '+${role.name}"
                                            th:text="${role.healthcareInstitution.country.id}+' - '+${role.healthcareInstitution.id}+' - '+${role.name}"></option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="inner">
                        <tr>
                            <td>
                                 <h4 class="ct-h4" align="center">VALOR<br>VERD</h4>
                                <input class="green" type="number" required th:field="*{greenValue}"/>
                            </td>
                            <td>
                                 <h4 class="ct-h4" align="center">VALOR<br>GROC</h4>
                                <input class="yellow"  type="number" required th:field="*{yellowValue}"/>
                            </td>
                            <td>
                                 <h4 class="ct-h4" align="center">VALOR<br>VERMELL</h4>
                                <input class="red"  type="number" required th:field="*{redValue}"/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                     <h4 class="ct-h4" align="center">DESCRIPCIÓ</h4>
                    <textarea align="center" type="text" maxlength="512" rows="14" minlength="1" placeholder="Introdueix la descripció.." required th:field="*{description}"></textarea>
                </td>
                <td>
                     <h4 class="ct-h4" align="center">ACTUALITZACIÓ</h4>
                    <input align="center" type="number" required th:field="*{refreshRate}"/>
                     <h4 class="ct-h4" align="center">NOTIFICACIÓ</h4>
                    <textarea align="center" type="text" maxlength="256" minlength="1" placeholder="Introdueix el text de notificació..." ROWS="7" required
                              th:field="*{notificationMessage}"></textarea>
                </td>
            </tr>
        </table>
        <p></p>
        <button class="ct-btn" class="btn btn-primary" type="submit" value="createWarning">CREAR ALERTA</button>
    </form>
</div>
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>