<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LLISTA D'ALERTES</title>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <style th:replace="fragment/header :: headerStyle"></style>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<h1 align="center">LLISTA D'ALERTES</h1>
<table>
    <tr>
        <th>
            <p align="center">ID</p>
        </th>
        <th>
            <p align="center">Nom Curt</p>
        </th>
        <th>
            <p align="center">Rol</p>
        </th>
        <th>
            <p align="center"></p>
        </th>
    </tr>
    <tr
        th:each="warning : ${warnings}">
        <td>
            <p align="center" th:text="${warning.id}" th:id="${warning.id}">ID</p>
        </td>
        <td>
            <p align="center" th:text="${warning.shortName}" th:id="${warning.shortName}">Nom Curt</p>
        </td>
        <td>
            <p align="center" th:text="${warning.role.name}" th:id="${warning.role.name}">Rol</p>
        </td>
        <td>
            <a th:href="@{'/warning/' + ${warning.id}}">VEURE</a>
        </td>
    </tr>
</table>
<h3 align="center" th:if="${warnings.size()==0}">No s'ha trobat cap alerta.</h3>
</body>
</html>