<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LLISTA D'INSTITUCIONS MÈDIQUES</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <style th:replace="fragment/header :: headerStyle"></style>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<h1 align="center">LLISTA D'INSTITUCIONS MÈDIQUES</h1>
<table>
    <tr>
        <th>
            <p>Nom</p>
        </th>
        <th>
            <p>País</p>
        </th>
        <th>
            <p></p>
        </th>
    </tr>
    <tr class="row jumbotron shadow p-3 mb-5" style=" background-color: #ffffff"
        th:each="healthcareInstitution : ${healthcareInstitutions}">
        <td>
            <h4 th:text="${healthcareInstitution.name}" th:id="${healthcareInstitution.name}">Nom</h4>
        </td>
        <td>
            <h4 th:text="${healthcareInstitution.countryID}" th:id="${healthcareInstitution.countryID}">País</h4>
        </td>
        <td class="col-md-2">
            <a th:href="@{'/institution/' + ${healthcareInstitution.id}+'/'+${healthcareInstitution.countryID}}">Editar</a>
        </td>
    </tr>
</table>
<h3 th:if="${healthcareInstitutions.size()==0}">No s'ha trobat cap institució mèdica.</h3>
</body>
</html>