<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LLISTA D'INSTITUCIONS MÈDIQUES</title>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <style th:replace="fragment/header :: headerStyle"></style>
    <style th:replace="fragment/footer :: footerStyle"></style>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div class="main">
    <h1 align="center">LLISTA D'INSTITUCIONS MÈDIQUES</h1>
    <table>
        <tr>
            <th>
                <p align="center">Nom</p>
            </th>
            <th>
                <p align="center">País</p>
            </th>
            <th>
                <p></p>
            </th>
        </tr>
        <tr
                th:each="healthcareInstitution : ${healthcareInstitutions}">
            <td>
                <p align="center" th:text="${healthcareInstitution.name}" th:id="${healthcareInstitution.name}">Nom</p>
            </td>
            <td>
                <p align="center" th:text="${healthcareInstitution.country.id}"
                   th:id="${healthcareInstitution.country.id}">País</p>
            </td>
            <td class="col-md-2">
                <a th:href="@{'/institution/' + ${healthcareInstitution.id}+'/'+${healthcareInstitution.country.id}}">VEURE</a>
            </td>
        </tr>
    </table>
    <h3 align="center" th:if="${healthcareInstitutions.size()==0}">No s'ha trobat cap institució mèdica.</h3>
</div>
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>