<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ALERTA</title>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/e9b81f5ff7.js" crossorigin="anonymous"></script>
    <style th:replace="fragment/header :: headerStyle"></style>
    <style th:replace="fragment/footer :: footerStyle"></style>
    <style th:replace="fragment/list :: listStyle"></style>
    <style th:replace="fragment/show :: showStyle"></style>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div class="main">

    <table class="shw-table">
        <tr>
            <td colspan="2">
                <h2 align="center" th:text="${warning.name}" th:id="${warning.name}">NAME</h2>
            </td>
            <td colspan="2">
                <h2 align="center" th:text="${warning.shortName}" th:id="${warning.shortName}">Nom Curt</h2>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2 align="center" th:text="${warning.role.name}" th:id="${warning.role.name}">Rol</h2>
            </td>
            <td colspan="2">
                <h2 align="center" th:text="${warning.uri}" th:id="${warning.uri}">URI</h2>
            </td>
        </tr>
        <tr>
            <td>
                <h2 align="center" th:text="${warning.refreshRate}" th:id="${warning.refreshRate}">Actualització</h2>
            </td>
            <td style="background-image: linear-gradient(to top, rgba(0, 255, 0, 1), rgba(32, 168, 182, 1));">
                <h2 align="center" th:text="${warning.greenValue}" th:id="${warning.greenValue}">Valor
                    Verd</h2>
            </td>
            <td style="background-image: linear-gradient(to top, rgba(255, 255, 0, 1), rgba(0, 248, 255, 1));">
                <h2 align="center" th:text="${warning.yellowValue}" th:id="${warning.yellowValue}">Valor
                    Groc</h2>
            </td>
            <td style="background-image: linear-gradient(to top, rgba(255, 0, 0, 1), rgba(0, 248, 255, 1));">
                <h2 align="center" th:text="${warning.redValue}" th:id="${warning.redValue}">Valor
                    Vermell</h2>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h2 align="center" th:text="${warning.description}" th:id="${warning.description}">Descripció</h2>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a class="shw-edit"
                   th:href="@{'/warning/edit/' + ${warning.id}}">EDITAR</a>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a class="shw-delete"
                   th:href="@{'/warning/delete/' + ${warning.id}}"
                   onclick="return confirm('Estas segur que vols eliminar aquesta alerta?')">ELIMINAR</a>
            </td>
        </tr>
    </table>
</div>
<div th:replace="fragment/footer :: footer"></div>
<script src="/js/table.js"></script>
</body>
</html>