<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>EMPLEAT</title>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <style th:replace="fragment/header :: headerStyle"></style>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<h1 align="center">EMPLEAT</h1>
<table>
    <tr>
        <th>
            <p align="center">Nom</p>
        </th>
    </tr>
    <tr>
        <td>
            <p align="center" th:text="${employee.name}" th:id="${employee.name}">Nom</p>
        </td>
    </tr>
    <tr>
        <th>
            <p align="center">Cognoms</p>
        </th>
    </tr>
    <tr>
        <td>
            <p align="center" th:text="${employee.surname}" th:id="${employee.surname}">Cognoms</p>
        </td>
    </tr>
    <tr>
        <th>
            <p align="center">Usuari</p>
        </th>
    </tr>
    <tr>
        <td>
            <p align="center" th:text="${employee.username}" th:id="${employee.username}">Usuari</p>
        </td>
    </tr>
    <tr>
        <th>
            <p align="center">Rol</p>
        </th>
    </tr>
    <tr>
        <td>
            <p  align="center"th:text="${employee.role.name}" th:id="${employee.role.name}">Rol</p>
        </td>
    </tr>
</table>
<a th:href="@{'/employee/delete/' + ${employee.username}}">ELIMINAR EMPLEAT</a>
<a th:href="@{'/employee/edit/' + ${employee.username}}">EDITAR</a>
</body>
</html>