<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset = "UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inicia Sesión</title>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <style th:replace="fragment/header :: headerStyle"></style>
    <style th:replace="fragment/footer :: footerStyle"></style>
    <style th:replace="fragment/create :: createStyle"></style>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div class="main">
    <form class="needs-validation" novalidate th:action="@{/login}" method="post">
        <h1>INICIAR SESIÓN</h1>
        <table class ="ct-table">
            <tr>
                <td>
                    <h4 class="ct-h4" align="center">USUARI</h4>
                    <input type="text" id="username" name="username" placeholder="Introdueix el nom d'usuari..." required >
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="ct-h4" align="center">CONTRASENYA</h4>
                    <input type="password" id="password" name="password" placeholder="Introdueix la contrasenya..." required >
                </td>
            </tr>
        </table>
        <p></p>
        <button class="ct-btn" type="submit">INICIAR SESSIÓ</button>
    </form>
</div>
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>