<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LLISTA DE ROLS</title>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/e9b81f5ff7.js" crossorigin="anonymous"></script>
    <style th:replace="fragment/header :: headerStyle"></style>
    <style th:replace="fragment/footer :: footerStyle"></style>
    <style th:replace="fragment/list :: listStyle"></style>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div class="main">
    <h1 align="center">LLISTA DE ROLS</h1>
    <table class="lst-table" id="table">
        <tr>
            <th class="lst-th">
                <h2 align="center">
                    NOM
                    <br>
                    <input type="text" id="s0" onkeyup="search(0)" onfocusout="disappear(0)" placeholder="Busca un nom d'un rol..."
                           title="Busca un nom d'un rol..."
                           hidden="true">
                    <button class="lst-btn" id="b0" onclick="appear(0)"><i class="fas fa-search"></i></button>
                    <button class="lst-btn" id="a0" onclick="asc(0)"><i class="fas fa-chevron-up"></i></button>
                    <button class="lst-btn" id="d0" onclick="desc(0)"><i class="fas fa-chevron-down"></i></button>
                </h2>
            </th>
            <th class="lst-th">
                <h2 align="center">
                    INSTITUCIÓ MÈDICA
                    <br>
                    <input type="text" id="s1" onkeyup="search(1)" onfocusout="disappear(1)" placeholder="Busca un nom d'una institució mèdica..."
                           title="Busca un nom d'una institució mèdica..."
                           hidden="true">
                    <button class="lst-btn" id="b1" onclick="appear(1)"><i class="fas fa-search"></i></button>
                    <button class="lst-btn" id="a1" onclick="asc(1)"><i class="fas fa-chevron-up"></i></button>
                    <button class="lst-btn" id="d1" onclick="desc(1)"><i class="fas fa-chevron-down"></i></button>
                </h2>
            </th>
            <th class="lst-th">
                <h2 align="center">
                    PAÍS
                    <br>
                    <input type="text" id="s2" onkeyup="search(2)" onfocusout="disappear(2)" placeholder="Busca un nom d'un país..."
                           title="Busca un nom d'un país..."
                           hidden="true">
                    <button class="lst-btn" id="b2" onclick="appear(2)"><i class="fas fa-search"></i></button>
                    <button class="lst-btn" id="a2" onclick="asc(2)"><i class="fas fa-chevron-up"></i></button>
                    <button class="lst-btn" id="d2" onclick="desc(2)"><i class="fas fa-chevron-down"></i></button>
                </h2>

            </th>
        </tr>
        <tr class="trClickable"
                th:each="role : ${roles}" th:onclick="'javascript:rowClicked(\'/role/' + ${role.name}+'/'+${role.healthcareInstitution.id}+'/'+${role.healthcareInstitution.country.id}+'\');'">
            <td>
                <p align="center" th:text="${role.name}" th:id="${role.name}">Nom</p>
            </td>
            <td>
                <p align="center" th:text="${role.healthcareInstitution.name}" th:id="${role.healthcareInstitution.id}">
                    Institució Mèdica</p>
            </td>
            <td>
                <p align="center" th:text="${role.healthcareInstitution.country.name}"
                   th:id="${role.healthcareInstitution.country.id}">País</p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <p align="center" th:if="${roles.size()==0}">NO S'HA TROBAT CAP ROL</p>
            </td>
        </tr>
    </table>
</div>
<div th:replace="fragment/footer :: footer"></div>
<script src="/js/table.js"></script>
</body>
</html>